.so-far-title1{
    color: white;
    width: 100%;
    margin-bottom: 8%;
}

.embed-player{
margin:0%;
padding: 4%;
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
}

p.green-text {
    color: #78cc87;
    display: inline;
}

p.candy-text, h2.candy-text{
    color: #ec6465;
    display: inline;
}

p.blue-text{
    color: #51b9f9;
    display: inline;
}
p.pink-text {
    color: #ee7fc4;
    display: inline;

}

h1.so-far-title1 {
    font-size: 1.5rem;
}


