.robo-container {
  position: absolute;
  margin-top: 30vh;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
}


.landing-container {
    position: relative;
    text-align: center;
    color: white;
  }

img.pic-ginny {
width: 600px;
  position: relative;
  top:20px;
 
}

img.pic-percy { 
  width: 590px;
  position: relative;
  top:20px;
}

.polaroid {
  background-color: white;
  width: 40rem;
  height:27rem;
  position: relative;
  right: 100px;
}

.caption {
  margin-top: 20px;
  font-size: 2em;
  color:black
}

div.polaroid  {
  transform: scale(0.8, 0.8) rotate(5deg);
}

.item:hover {
  transform: scale(1, 1) rotate(-20deg) !important;
  transition: all 0.35s;
}


 
  @media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

  .robo-container{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
   .polaroid{
    width:80vw;
    height:30vh;
  }
  img.pic-ginny {
    width: 70vw;
      position: relative;
      top:20px
    }
    img.pic-percy { 
      width: 70vw;
      position: relative;
      top:20px
    }

}
