@import url("https://fonts.googleapis.com/css2?family=KoHo&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 376px) {
	.landing-page {
		display: grid;
		grid-template-columns: 3fr 2fr;
		grid-template-rows: 1fr 1fr 1fr;
		height: auto;
		padding: 30px;
	}

	.landing-caption,
	.landing-intro,
	.scroll {
		background: none;
		grid-column-start: 1;
		margin-left: 0.5rem;
		font-family: KoHo;
	}

	.landing-caption {
		grid-row-start: 2;
		font-size: 5rem;
		justify-self: start;
		align-self: end;
		margin-bottom: 2rem;
		text-transform: uppercase;
		letter-spacing: 6px;
	}
	.popout {
		background: none;
		white-space: nowrap;
	}

	.letter {
		background: none;
		transition: all 0.3s ease 0s;
		cursor: pointer;
		display: inline-block;
		color: white;
	}

	.letter:hover {
		transform: translateY(-7px);
		font-size: 6rem;
	}

	.pink:hover {
		color: #ee7fc4;
	}

	.blue:hover {
		color: #51b9f9;
	}

	.green:hover {
		color: #78cc87;
	}

	.candy:hover {
		color: #ec6465;
	}

	.yellow:hover {
		color: #fbdd4b;
	}

	.break {
		padding-left: 20px;
	}

	.break:hover {
		color: #51b9f9;
	}

	.landing-intro {
		grid-row-start: 3;
		font-size: 2.2rem;
		justify-self: start;
		align-self: center;
		text-align: start;
		color: #ee7fc4;
	}

	span.green-text {
		color: #78cc87;
	}
	span.blue-text{
		color: #51b9f9;
	}
	span.yellow-text {
		color: #fbdd4b;
	}
	span.candy-text{
		color: #ec6465;
	}

	.scroll-container {
		display: grid;
		grid-column-start: 2;
		grid-row-start: 3;
		padding: 50px;
		justify-content: right;
		background: none;
	}

	.scroll {
		font-size: 5rem;
		color: #fbdd4b;
		letter-spacing: 6px;
		text-transform: uppercase;
		align-self: end;
		justify-self: end;
		display: block;
		animation-name: floating;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}

	@keyframes floating {
		0% {
			transform: translate(0, 0px);
		}
		50% {
			transform: translate(0, 15px);
		}
		100% {
			transform: translate(0, -0px);
		}
	}
}



@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
	.landing-page {
		padding: 18px;
		height: 30vh;
	}

	.landing-container {
		overflow: hidden;
	}
	.landing-caption {
		display: none;
	}

	.scroll-container {
		display: none;
	}

	.landing-intro {
		font-size: 1.4rem;
		justify-self: center;
		align-self: center;
		text-align: justify;
		color: #ee7fc4;
		margin: 1.3rem;
	}

}
