@import "./../Color-variables.css";

.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    filter: invert(90%) sepia(5%) saturate(4637%) hue-rotate(68deg) brightness(92%) contrast(71%);
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: var(--coral-accent);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: var(--yellow-accent);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
    position:absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  .percyParty {
    position:absolute;
    top: 25px;
    left: 25px;
    z-index: 2;
  }