@import "./Color-variables.css";

.App {

  text-align: center;
}

.marsphoto {
  margin-top: 30%;
  width: 130rem;
  transform: translate(300px, 100px);
  overflow-y: hidden;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

  .marsphoto {
  
    width: 130rem;
    transform: translate(300px, 100px);
    
  }

}