@import "./Color-variables.css";
@import url("https://fonts.googleapis.com/css2?family=KoHo&display=swap");

html {
  background: linear-gradient(90deg, rgba(54,25,90,1) 2%, rgba(7,16,55,1) 100%);
  /* box-shadow: 1px 1px 20000px #ec64649d inset; */
  overflow-x: hidden;
  font-family: KoHo;
}

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overscroll-behavior: none;
}